@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@font-face {
  font-family: "Neon";
  src: url("../public/Fonts/NeonTubes.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --c_main:"#1c1c27";
  --c_sub:"#28293d";
  --c_border:"#3e4053";
  --c_red: "#ff3b3b";
  --c_green: "#05c270";
  --c_blue:"#0063f8";
  --c_yellow:"#ffcc00";
  --c_orange:"#ff8801";
  --c_cyan:"#00cfdd";
}

html{
  /* max-width: 1920px; */
  margin: auto;
  /* scrollbar-width: none;
  -ms-overflow-style: none; */
}

/* ::-webkit-scrollbar {
  width: 0;
  height: 0;
} */

